<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Article</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<center>
    <div id="index"></div>
     <form th:action="@{/add}" method="post" enctype="multipart/form-data" th:object="${articles}">
        <div class="container">
            <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect" id="frag1">Frag1</button>
            <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect" id="frag2">Frag2</button>
            <div class="card col-md-6 text-center">
                <br>
                <h2 th:text="#{article.AddNewArticle}">Add New Article</h2>
                <div class="md-form form-lg card-group">
                    <input type="text" id="label-id" class="form-control" th:field="*{id}" readonly>
                    <label for="label-id" th:text="#{article.identifier}">id</label>
                </div>
                <div class="md-form form-lg">
                    <input th:field="*{title}" type="text" class="form-control form-control-lg">
                    <label th:text="#{article.title}" th:unless="${#fields.hasErrors('title')}">Title</label>
                    <label th:if="${#fields.hasErrors('title')}" style="color: red !important;" >Please Input Title</label>
                    </div>
                <div class="md-form form-lg">
                    <input th:field="*{author}" type="text" class="form-control form-control-lg">
                    <label th:text="#{article.author}" th:unless="${#fields.hasErrors('author')}">Author</label>
                    <label style="color: red !important;" th:if="${#fields.hasErrors('author')}">Please Input Author</label>
                </div>
                <div class="md-form form-lg">
                    <select th:field="${articles.category.id}" class="custom-select custom-select-sm" style="display: unset !IMPORTANT;margin: 15px 0 !important;">
                        <option
                                th:each="cate:${allCate}"
                                th:value="${cate.getId()}"
                                th:selected="${cate.getId() == articles.getCategory().getId()}"
                                th:text="${cate.getTitle()}">
                        </option>
                    </select>

                </div>
                <div class="md-form form-lg">
                    <input th:field="*{description}" type="text" class="form-control form-control-lg">
                    <label th:text="#{article.description}" th:unless="${#fields.hasErrors('description')}">Description</label>
                    <label style="color: red !important;" th:if="${#fields.hasErrors('description')}">Please Input Description</label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="fileId">
                        <label th:text="#{article.choose_file}" class="custom-file-label">Choose file</label><br><br>
<!--                        <img id="image"><br>-->
                    </div>
                </div>
                <button type="submit" th:text="#{article.add_new}" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect">Add New</button>
                <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect"><a th:text="#{article.go_back}" th:href="@{/view}">Go Back</a></button>
            </div>
        </div>
        <br>
        <div th:replace="Article/footer :: footer"></div>
    </form>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#frag1').click(function () {
           $('#index').load('/frag1');
            $('#frag1').hide();
            $('#frag2').show();
        });
        $('#frag2').click(function () {
            $('#index').load('/frag2');
            $('#frag2').hide();
            $('#frag1').show();
        });
        $("#fileId").change(function () {
            console.log("Check")
            readURL(this)
        })
    })
</script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>