<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information Article</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<center>
    <div id="info"></div>
        <div class="container" th:object="${ViewArticle}">
            <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect" id="frag1">Frag1</button>
            <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect" id="frag2">Frag2</button>
            <div class="card col-md-6 text-center">
                <br>
                <h2>Information Article</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{article.identifier}">ID</th>
                        <th scope="col" th:text="*{id}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col" th:text="#{article.title}">Title</th>
                        <th scope="col" th:text="*{title}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{article.author}" scope="col">Author</th>
                        <th scope="col" th:text="*{author}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{category}" ​scope="col">Category</th>
                        <th scope="col" th:text="*{category.getTitle()}"></th>
                    </tr>
                    <tr>
                        <th th:text="#{article.description}" scope="col">Description</th>
                        <th scope="col" th:text="*{description}"></th>
                    </tr>
                    <tr>
                        <th scope="col">Thumbnail</th>
                        <td><img style="width:180px; height: 130px" th:src="'/thumbnail/'+*{thumbnail}"></td>
                    </tr>
                    </tbody>
                </table>
               <a th:href="@{/view}" type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect">Go back</a>
            </div>
        </div>
    <br>
    <div th:replace="Article/footer :: footer"></div>
</center>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

<script>
    $(document).ready(function () {

        $('#frag1').click(function () {
            $('#info').load('/frag1');
            $('#frag1').hide();
            $('#frag2').show();
        });
        $('#frag2').click(function () {
            $('#info').load('/frag2');
            $('#frag2').hide();
            $('#frag1').show();
        });
    });
</script>
</body>
</html>