<!--Navbar-->
<nav style="background-color: red" class="navbar navbar-expand-lg navbar-dark primary-color" th:fragment="navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Article Management</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/view}">Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/category}">Category</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Fragment</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item frag1">Fragment1</a>
                    <a class="dropdown-item frag2">Fragment2</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
        <form class="form-inline">
        <div class="md-form my-0">
            <select name="cate_id"  class="browser-default custom-select custom-select-md mb-3" style="display: unset !IMPORTANT;margin: 15px 0 !important;">
                <option value="" >All Category</option>
                <option
                        th:each="cates:${allCate}"
                        th:value="${cates.getId()}"
                        th:text="${cates.getTitle()}">
                </option>
            </select>
            <input id="search" name="title" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
        </div>
        </form>
</nav>
<!--/.Navbar-->


<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1" th:fragment="navbar2">
    <a class="navbar-brand" href="#">Article Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/view}">Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/category}">Category</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Fragment</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item frag1">Fragment1</a>
                    <a class="dropdown-item frag2">Fragment2</a>
                </div>
            </li>
        </ul>

        <form class="form-inline">
            <div class="md-form my-0">
                <select name="cate_id"  class="browser-default custom-select custom-select-md mb-3" style="display: unset !IMPORTANT;margin: 15px 0 !important;">
                    <option value="" >All Category</option>
                    <option
                            th:each="cates:${allCate}"
                            th:value="${cates.getId()}"
                            th:text="${cates.getTitle()}">
                    </option>
                </select>
                <input id="search" name="title" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn peach-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
            </div>
        </form>
    </div>
</nav>
<!--/.Navbar -->