<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Article</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<div id="update"></div>
<center>
    <br>
    <form action="/update" method="post" enctype="multipart/form-data" th:object="${article}">
        <div class="container">
            <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect" id="frag1">Frag1</button>
            <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect" id="frag2">Frag2</button>
            <div class="card col-md-6 text-center">
                <br>
                <h2>Update Article</h2>
                <div class="md-form form-lg card-group">
                    <input th:field="*{id}" type="text" class="form-control form-control-lg" readonly>
                    <label th:text="#{article.identifier}">ID</label>
                </div>
                <div class="md-form form-lg">
                    <input th:field="*{title}" type="text" class="form-control form-control-lg">
                    <label th:text="#{article.title}">Title</label>
                </div>
                <div class="md-form form-lg">
                    <input th:field="*{author}" type="text" class="form-control form-control-lg">
                    <label th:text="#{article.author}">Author</label>
                </div>
                <div class="md-form form-lg">
                    <select th:field="${article.category.id}" class="custom-select custom-select-md" style="display: unset !IMPORTANT;margin: 15px 0 !important;">
                        <option
                                th:each="cate:${allCate}"
                                th:value="${cate.getId()}"
                                th:selected="${cate.getId() == article.getCategory().getId()}"
                                th:text="${cate.getTitle()}">
                        </option>
                    </select>
                </div>

                <div class="md-form form-lg">
                    <input th:field="*{description}" type="text"class="form-control form-control-lg">
                    <label th:text="#{article.description}">Description</label>
                </div>
                <div class="md-form form-lg">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="file"
                               aria-describedby="inputGroupFileAddon01">
                        <label th:text="#{article.choose_file}" class="custom-file-label" for="file">Choose file</label>
                    </div>
                    <img id="preview" style="width:460px; height: 350px;margin-top: 30px" th:src="'/thumbnail/'+*{thumbnail}">
                </div>
                <button th:text="#{article.update}" type="submit" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect">Submit</button>
                <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect"><a th:href="@{/view}">Cancel</a></button>
            </div>
        </div>
        <br>
        <div th:replace="Article/footer :: footer"></div>
    </form>
</center>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>


<script>
    $(document).ready(function () {
        $('#frag1').click(function () {
            $('#update').load('/frag1');
            $('#frag1').hide();
            $('#frag2').show();
        });
        $('#frag2').click(function () {
            $('#update').load('/frag2');
            $('#frag2').hide();
            $('#frag1').show();
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e){
                $('#preview').attr({'src': e.target.result}).css("display","block");
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#file").change(function () {
        readURL(this);
    });
</script>
</body>

</html>