<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>View Article</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<div class="default" id="nav-bar">
    <div layout:fragment="navbar" id="nav_default" th:replace="Article/navbar :: navbar"></div>
</div>

<div id="nav"></div>
<center>
    <div layout:fragment="container" class="container">
        <div class="card text-center">
            <div style="margin-left: 20px">
                <form class="form-inline md-form mr-auto mb-4">
                    <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect"><a  th:href="@{/add}">Add Article</a></button>
                </form>
            </div>
            <h2>Article Management System
                <nav id="s">
                    <div class="md-form my-0">
                        <span class="language">
                            <a href="?lang=kh"><img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/1200px-Flag_of_Cambodia.svg.png"
                                    th:width="30px"></a>
                            <a href="?lang=en"><img
                                    src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png"
                                    th:width="30px"></a>
                        </span>
                    </div>
                </nav>
            </h2>
            <table class="table">
                <thead class="black white-text">
                <tr>
                    <th th:text="#{article.identifier}" scope="col">ID</th>
                    <th th:text="#{article.title}" scope="col">Title</th>
                    <th th:text="#{article.author}" scope="col">Author</th>
                    <th th:text="#{category}" scope="col">Category</th>
                    <th th:text="#{article.description}" scope="col">Description</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${getArticle}" th:object="${article}">
                    <th th:text="*{id}"></th>
                    <td th:text="*{title}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{category.getTitle()}"></td>
                    <td th:text="*{description}"></td>
                    <td><img style="width:180px; height: 130px" th:src="'/thumbnail/'+*{thumbnail}"></td>
                    <td>
                        <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect"><a
                                th:href="@{/info/{id}(id=${article.getId()})}">View</a></button>
                        <button type="button" style="width: 170px" class="btn col-md-3 btn-outline-warning btn-rounded waves-effect"><a
                                th:href="@{/update/{id}(id=${article.getId()})}">Update</a>
                        </button>
                        <button type="button" style="width: 170px" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect"><a
                                th:href="@{/delete/{id}(id=${article.getId()})}">Delete</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination pg-blue justify-content-center" th:if="${paging.getTotalPages()}>1">
                    <li class="page-item " >
                        <a class="page-link" th:href="@{/(page=${paging.previousPage},title=${filter.title},cate_id=${filter.cate_id})}">Previous</a>
                    </li>

                    <li th:each="i:${#numbers.sequence(paging.startPage,paging.endPage) }"  th:class="${paging.page}==${i}?'page-item active' : 'page-item' ">
                            <a class="page-link" th:text="${i}" th:href="@{/(page=${i},title=${filter.title},cate_id=${filter.cate_id})}"></a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" th:href="@{/(page=${paging.nextPage},title=${filter.title},cate_id=${filter.cate_id})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br>
    <div layout:fragment="footer" th:replace="Article/footer :: footer"></div>
</center>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script>
    $(document).ready(function () {
        $('.frag1').click(function () {
            $("#nav-bar").load('/frag1');
            $('.default').hide();
            $('.frag1').hide();
            $('.frag2').show();
        });
        $('.frag2').click(function () {
            $("#nav-bar").load('/frag2');
            $('.frag2').hide();
            $('.frag1').show();
        });
    });
</script>
</body>
</html>