<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Category</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<div id="nav"></div>
<center>
    <div class="container">
        <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect" id="frag1">Frag1</button>
        <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect" id="frag2">Frag2</button>
        <button type="button" class="btn col-md-3 btn-outline-primary btn-rounded waves-effect"><a th:href="@{/addcategory}">Add Category</a></button>
        <div class="card text-center">
            <br>
            <h2>Article Management System
                <nav>
                    <div class="md-form my-0">
                        <span class="language">
                            <a href="?lang=kh"><img
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/1200px-Flag_of_Cambodia.svg.png"
                                    th:width="30px"></a>
                            <a href="?lang=en"><img
                                    src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png"
                                    th:width="30px"></a>
                        </span>
                    </div>
                </nav>
            </h2>
            <table class="table">
                <thead class="black white-text">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${getCategory}" th:object="${category}">
                    <th th:text="*{id}"></th>
                    <td th:text="*{title}"></td>
                    <td>
                        <button type="button" class="btn col-md-3 btn-outline-warning btn-rounded waves-effect"><a
                                th:href="@{/updateCategory/{id}(id=${category.getId()})}">Update</a>
                        </button>
                        <button type="button" class="btn col-md-3 btn-outline-danger btn-rounded waves-effect"><a
                                th:href="@{/deleteCategory/{id}(id=${category.getId()})}">Delete</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
<!--            <nav aria-label="Page navigation example">-->
<!--                <ul class="pagination pg-blue justify-content-center">-->
<!--                    <li class="page-item " >-->
<!--                        <a class="page-link" th:href="@{/viewer(page=(1 == ${currentpage} ? ${totalpage} : ${currentpage - 1}))}">Previous</a>-->
<!--                    </li>-->
<!--                    <th:block th:each="page : ${#numbers.sequence(1, totalpage)}">-->
<!--                        <li th:class="(${page} == ${currentpage}) ? 'page-item active' : 'page-item'">-->
<!--                            <a th:href="@{/viewer(page=${page})}" class="page-link" th:text="${page}"></a>-->
<!--                        </li>-->
<!--                    </th:block>-->
<!--                    <li class="page-item ">-->
<!--                        <a th:href="@{/viewer(page=(${totalpage} == ${currentpage} ? 1 : ${currentpage + 1}))}"><span class="page-link">Next</span></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
    <br>
    <div th:replace="Article/footer :: footer"></div>
</center>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script>
    $(document).ready(function () {
        $('#frag1').click(function () {
            $("#nav").load('/frag1');
            $('#frag1').hide();
            $('#frag2').show();
        });
        $('#frag2').click(function () {
            $("#nav").load('/frag2');
            $('#frag2').hide();
            $('#frag1').show();
        });
    });
</script>
</body>
</html>